.site-header {

    position: relative;

    .logo {
        position: absolute;
        width: 6.7rem;
        margin-top: .5rem;
    }

    h1 {
        margin: 1rem 0 2rem 8rem;
        font-size: 6rem;
        font-weight: normal;
    }
}
