{% extends 'layout/default.html' %}

{% block body %}
    <main>
        <h1>About</h1>

        <h2>Contributors</h2>
        <ul>
            <li>Christiaan Stegeman</li>
        </ul>

        <h2>Attribution</h2>
        <p>The following graphics are used by the project, they're all licenced as
            <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons – Attribution (CC BY 3.0)</a>.</p>
        <ul>
            <li><a href="http://thenounproject.com/GabRz/">Gabriela Ruiz</a> created the <a href="http://thenounproject.com/term/mustache/20108/">Mustache logo</a></li>
            <li><a href="http://thenounproject.com/mimosa.cb/">Christopher T. Howlett</a> created the <a href="http://thenounproject.com/term/information/5949/">About icon</a></li>
            <li><a href="http://thenounproject.com/elesefe/">Friedrich Santana</a> created the <a href="http://thenounproject.com/term/tracking-location/2107/">Walkthrough icon</a></li>
            <li><a href="http://thenounproject.com/dgusmaosilveira/">Danilo Gusmão Silveira</a> created the <a href="http://thenounproject.com/term/book/8372/">Guides icon</a></li>
            <li><a href="http://thenounproject.com/Lubo%C5%A1%20Volkov">Luboš Volkov</a> created the <a href="http://thenounproject.com/term/code/20826/">Source icon</a></li>
        </ul>
    </main>
{% endblock %}
