{% extends 'layout/default.html' %}

{% block body %}
    <main class="about">
        <h1>About</h1>
        <p class="slogan">&ldquo;Skeleton project and workflow for front-end developers.&rdquo;</p>
        <p>frntndr is a skeleton project for modern front-end codebases. It dictates a modular workflow, and is
            feature-packed with best-practices. It's build on top of Node.js, and has a simple cli tool to help you
            set up a new front-end codebase from scratch.</p>

        <h2>Contributors</h2>
        <p>Thanks to all the colleagues at <a href="http://www.mirabeau.nl/">Mirabeau</a> who helped flesh out the idea
            and which <span class="nobr">best-practices</span> and tools to pick for the project.</p>
        <p>Special thanks to the following code contributors:</p>
        <ul>
            <li><a href="http://www.rikschennink.nl/">Rik Schennink</a></li>
            <li>Christiaan Stegeman</li>
            <li>Arno Wolkers</li>
            <li>Wouter Kroes</li>
        </ul>

        <h2>Attribution</h2>
        <p>The following graphics are used by the project, they're all licenced as
            <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons – Attribution (CC BY 3.0)</a>.</p>
        <ul>
            <li><a href="http://thenounproject.com/GabRz/">Gabriela Ruiz</a> created the <a href="http://thenounproject.com/term/mustache/20108/">Mustache logo</a></li>
            <li><a href="http://thenounproject.com/mimosa.cb/">Christopher T. Howlett</a> created the <a href="http://thenounproject.com/term/information/5949/">About icon</a></li>
            <li><a href="http://thenounproject.com/elesefe/">Friedrich Santana</a> created the <a href="http://thenounproject.com/term/tracking-location/2107/">Walkthrough icon</a></li>
            <li><a href="http://thenounproject.com/dgusmaosilveira/">Danilo Gusmão Silveira</a> created the <a href="http://thenounproject.com/term/book/8372/">Guides icon</a></li>
            <li><a href="http://thenounproject.com/Lubo%C5%A1%20Volkov">Luboš Volkov</a> created the <a href="http://thenounproject.com/term/code/20826/">Source icon</a></li>
        </ul>
    </main>
{% endblock %}
