{% extends 'layout/default.html' %}

{% block body %}
    <main>
        <p>This codebase <code>npm i -g frntndr</code> is a <strong>blueprint environment</strong> to <em>quick start</em> new
            <abbr title="Front-End Development">front-end</abbr> codebases. tries to
            save your precious time through having various tools
            preconfigured and dictating a workflow.This codebase is a blueprint environment to quick start new
            front-end codebases. It tries to save your precious time through having various tools preconfigured and
            dictating a workflow.</p>
        <section>
            <h2>Usage</h2>
            <code class="block"><span class="sh-symbol">$</span> npm i -g frntndr
                <span class="sh-symbol">$</span> frntndr project-name
                <span class="sh-symbol">$</span> node app
            </code>
        </section>
        <section>
            <h2>Documentation</h2>
            <ol>
                <li><a href="/docs/walkthrough.html">Walkthrough</a></li>
                <li><a href="/docs/guides/index.html">Guides</a></li>
                <li><a href="/docs/reference/index.html">Reference</a></li>
                <li><a href="https://github.com/branneman/frntndr">Source</a></li>
            </ol>
        </section>
    </main>
{% endblock %}
