{% extends 'layout/default.html' %}

{% block body %}
    <main>
        <p>A skeleton project for modern front-end codebases.
            It dictates a modular workflow, and is feature-packed with best-practices.</p>
        <div class="introduction">
            <section class="usage">
                <h2>Usage</h2>
                <code class="block"><span class="sh-symbol">$</span> npm i -g frntndr
                    <span class="sh-symbol">$</span> frntndr project-name
                    <span class="sh-symbol">$</span> node app
                </code>
            </section>
            <section class="docs">
                <h2>Documentation</h2>
                <ol class="docs-sections">
                    <li><a class="docs-section about" href="/about.html">About</a></li>
                    <li><a class="docs-section walkthrough" href="/docs/walkthrough.html">Walkthrough</a></li>
                    <li><a class="docs-section guides" href="/docs/guides/index.html">Guides</a></li>
                    <!-- <li><a class="docs-section reference" href="/docs/reference/index.html">Reference</a></li> -->
                    <li><a class="docs-section source" href="https://github.com/branneman/frntndr">Source</a></li>
                </ol>
            </section>
        </div>
    </main>
{% endblock %}
